version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: app
    volumes:
      - .:/var/www/html
    expose:
      - "9003:9003"
    environment:
      XDEBUG_MODE: debug,develop
      XDEBUG_CONFIG: client_host=host.docker.internal client_port=9003 start_with_request=yes
      PHP_IDE_CONFIG: serverName=zf2

  nginx:
    image: nginx:latest
    container_name: zf2_nginx
    ports:
      - "9000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  db_data:
