RewriteEngine On

# Não reescreve arquivos e pastas que existem fisicamente
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Redireciona todas as outras requisições para o index.php
RewriteRule ^(.*)$ index.php [NC,L]

AddDefaultCharset UTF-8

# Em alguns hosts é necessário também:
php_value default_charset "UTF-8"
php_value mbstring.internal_encoding "UTF-8"